@define-mixin normalScreen {
    @media (min-width: 640px){
        @mixin-content;
    }
}

@define-mixin clearfix {
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
