html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
}



/* app area */
div .app_area {
    text-align: center;
    padding-top: 60px;
}
#hostname,
#ip {
    height: 45px;
    width: 40%;
    border: 2px solid #D82672;
    border-radius: 7px;
    font-size: 130%;
    text-align: center;
    background-color: #404040;
    color: white;
}

/*screen fixes */
@media screen and (max-width: 800px) {

    #ip{
        width: 80%;
    }

    #hostname{
        width: 80%;
    }

    #response_area{
        width: 80%;
    }

    #ping_button {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
}
/* END screen fixes */


#ping_button {
    animation-name: fadeBounce;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;

    display: block;
    margin: auto;
    margin-top: 40px;
    width: 20%;
    height: 40px;
    border-radius: 8px;
    border: 3px solid #D82645;
    background-color: #D82672;
    font-size: 120%;
    color: white;
    opacity: 0;
}

#ping_button:hover{
    background-color: rgba(216, 38, 69, 0.85);
}

/* End app area */


/* Response area */
.response_area{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0px;
    padding-top: 40px;
    width: 50%;
    border-top: 1px solid #D82645;
    box-sizing: border-box;
}

.hidden_layer{
    display: none;
}

.response_area_txt {
    float:left;
    width: 50%;
    height: 280px;
    text-align: center;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.response_font{
    font-size: 120%;
    color: #D82645;
}

.response_online{
    color: #279942;
}

.map_style{
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 280px;
}
/* End response area */

/* navigation menu */
.app_navigation {
    background-color: #D82645;
    margin-top: 0px;
    text-align: center;
    border-bottom: 5px solid #D82672;


}

.app_logo a {
    animation-name: fadeBounce;
    animation-duration: 1s;
    color: white;
    text-decoration: none;
    padding: 6px 0 6px 0;
    font-size: 130%;
    display: block;
    width: 20%;
    margin: auto;
    border-top: 6px solid #D82645;
}

.app_logo a:hover {
    border-top: 6px solid white;

}

.logo_em {
    font-weight:bolder;
    font-size: 140%;

}
/* End navigation menu */


/* Footer */

/* End footer */
footer .app_navigation{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    padding: 5px;
}

footer .app_navigation a{
    text-decoration: none;
    color: gray;
}


/* fixes*/
.center{
    margin-left: auto;
    margin-right: auto;
}
.hidden_label{
    position: absolute;
    height: 0px;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.clear_float:before,
.clear_float:after {
	content: "";
	display: table;
}
.clear_float:after {
    clear: both;
}
.clear_float{
    zoom:1;
}

.fix {
    clear: both;
}

.clear_float:after {
	clear: both;
}

/*Bounce animation */
@keyframes fadeBounce {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    40%{
        transform: translateY(0%);
    }

    55%{
        transform: translateY(-6px);
    }

    70%{
        opacity: 1;
        transform: translateY(0);
    }

    85%{
        transform: translateY(-3px);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
/*end Bounce animation*/

@keyframes loadingAnimation {
    100%  {
        transform: translateX(1250%);

    }
}

.loading_area {
    padding: 0px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: -40px;
    box-sizing: border-box;
    height: 30px;
    width: 16%;
}

.loading_ball {
    animation: 0;

    display: none;
    float:left;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    background-color: #D82645;

}
/*end loading animation*/
