.input-data {

    margin-bottom: 1.5rem;

    &__text {
        height: 35px;
        border: 2px solid $mainPink;
        border-radius: 7px;
        font-size: 1.2rem;
        background-color: #404040;
        text-align: center;
        color: white;

        @mixin normalScreen {
            height: 45px;
            font-size: 1.5rem;
        }
    }

    &__label {
        display: block;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 100;
        padding: .4em 0;
        color: $mainRed;

        @mixin normalScreen {
            font-size: 1.5rem;
        }
    }
    &__alt{
        display: block;
        color: $mainPink;
        font-size: 1.3rem;
        font-weight: 100;
        text-align: center;
        margin: 0 60px 17px 60px;
        border-top: 1px solid $mainRed;
        border-bottom: 1px solid $mainRed;
        padding: 2px 0;

        @mixin normalScreen {
            margin: 0 70px 35px 70px;
            padding: 7px 0;
        }
    }

    @mixin normalScreen {
        margin-bottom: 3rem;
    }
}
