.nav-menu {
    background-color: #D82645;
    margin-top: 0px;
    border-bottom: 5px solid #D82672;
    position:relative;
    text-align: center;

    &__logo {
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 200;
        line-height: 1.5em;

        @mixin normalScreen {
            font-size: 1.5rem;
            border-top: 6px solid #D82672;
            line-height: 1.7em;
        }

    }

    &__logo-strong {
        font-weight: 800;
    }

    @mixin normalScreen {
        &__logo:hover{
            border-top: 6px solid white;
        }
    }
}
